<!-- Los Pipes solo sirven para decorar información en la vista, jamás la mutan o modifican -->

<!-- <div class="text-layout">
	<h1>{{ nombre | uppercase }}</h1>
	<p>{{ numero | number }}</p>
	<p>{{ objeto | json }}</p>
</div> -->

<!-- PrimeNG ofrece directivas o componentes personalizados para transformar nuestros elementos HTML -->
<!-- <button (click)="mostrarInfo()" 
		pButton 
		label="Mostrar información"
		icon="pi pi-bell"
		iconPos="right"
		class="p-button-help"></button> -->

<!-- <p-card [header]="nombre | titlecase" subheader="Curso de Angular Udemy">
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptates ad, eos, maiores sunt alias iste quaerat autem dignissimos nobis inventore sit dolor quas! Fugit unde distinctio odit, alias minus.
</p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>